[submodule "backend"]
	path = backend
	url = https://github.com/edniemeyer/week10omnistackBackend
[submodule "frontend"]
	path = frontend
	url = https://github.com/edniemeyer/week10omnistackFrontend
[submodule "web"]
	path = web
	url = https://github.com/edniemeyer/week10omnistackFrontend
[submodule "mobile"]
	path = mobile
	url = https://github.com/edniemeyer/week10omnistackMobile
